{% set title = ['ultradashboard', 'welcome'] %}

{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                You are logged in as {{ app.user.userIdentifier }}.
                <br />
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <h1>Please sign in or <a href="{{ path('app_register') }}">register</a></h1>
            
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
            
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <label>
                <input type="checkbox" name="_remember_me"> 
                Remember me
            </label>

            <br />

            <button type="submit">
                Sign in
            </button>
        {% endif %}
    </form>
    
{% endblock %}
